{{#if resume.awards.length}}
<section id="awards">
	<h2>Certificates and Awards</h2>
	{{#each resume.awards}}
		<div class="item">
			<div class="overview">
				<h3 class="title">
					{{#if name}}
						{{#if url}}
							<a target="_blank" rel="noopener" href="{{url}}">{{name}}</a>
						{{else}}
							{{name}}
						{{/if}}
					{{else}}
						{{#if url}}
							<a target="_blank" rel="noopener" href="{{url}}">{{awarder}}</a>:
						{{else}}
							{{awarder}}:
						{{/if}}
						{{title}}
					{{/if}}
				</h3>

				{{#if date}}
					<p class="date grey">
						{{ date date "MMM YYYY"}}
					</p>
				{{/if}}
			</div>
			{{#if summary}}
				<p class="summary">{{{summary}}}</p>
			{{/if}}
		</div>
	{{/each}}
</section>
{{/if}}