{{#if resume.education.length}}
<section id="awards">
	<h2>Education</h2>
	{{#each resume.education}}
		<div class="item">
			<div class="overview">
				<h3>
					{{~#if url~}}
						<a target="_blank" rel="noopener" href="{{url}}">{{institution}}</a>,
					{{~else~}}
						{{institution}},
					{{/if}}
					{{area}}
				</h3>
				<p class="date grey">
					{{> date-range}}
				</p>
			</div>
			{{#if studyType}}
			<div class="studyType">
				{{studyType}}
			</div>
			{{/if}}
			{{#if gpa}}
			<div class="gpa">
				GPA: {{gpa}}
			</div>
			{{/if}}
			{{#if courses.length}}
			<ul class="courses">
				{{#each courses}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
	{{/each}}
</section>
{{/if}}