{{#if resume.education.length}}
	{{#each resume.education}}
		<section class="position">
			{{#if @first}}
				<h2>Education</h2>
			{{/if}}
			<div class="overview">
				<h3>{{institution}}: {{area}}</h3>
				<p class="date grey">
					{{> date-range}}
				</p>
			</div>
			{{#if area}}
				<div class="area">
					{{area}}
				</div>
				{{/if}}
				{{#if studyType}}
				<div class="studyType">
					{{studyType}}
				</div>
				{{/if}}
				{{#if gpa}}
				<div class="gpa">
					GPA: {{gpa}}
				</div>
				{{/if}}
				{{#if courses.length}}
				<ul class="courses">
					{{#each courses}}
					<li>{{.}}</li>
					{{/each}}
				</ul>
			{{/if}}
		</section>
	{{/each}}
{{/if}}