{{#if resume.publications.length}}
<section id="projects">
	<h2>Projects</h2>
	{{#each resume.publications}}
		<div class="item">
			<div class="overview">
				<h3 class="title">
					{{#if url}}
						<a target="_blank" rel="noopener" href="{{url}}">{{name}}</a>
					{{else}}
						{{name}}
					{{/if}}
					<!--
					{{#if publisher}}
					<div class="publisher">
						({{publisher}})
					</div>
					{{/if}}
					-->
				</h3>

				{{#if releaseDate}}
					<p class="date grey">
						{{ date releaseDate "MMM YYYY"}}
					</p>
				{{/if}}
			</div>
			{{#if summary}}
				<p class="summary">{{{summary}}}</p>
			{{/if}}
		</div>
	{{/each}}
</section>
{{/if}}