{{#if resume.skills.length}}
	{{#each resume.skills}}
		<section class="skills">
			{{#if @first}}
				<h2>Skills</h2>
			{{/if}}
            <h3>
                {{name}}
                {{#if level}}
                <span class="level" aria-hidden="true">
                    {{rating level}}
                </span>
                {{/if}}
            </h3>
            {{#if keywordsWithUrl}}
                <ul>
                    {{#each keywordsWithUrl}}
                    <li>
                        {{#if url}}
                            <a href="{{url}}">{{name}}</a>
                        {{else}}
                            {{name}}
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if keywords}}
                <ul>
                    {{#each keywords}}
                    <li>
                        {{.}}
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
		</section>
	{{/each}}
{{/if}}