{{#if resume.skills.length}}
<section id="skills">
    <h2>Skills</h2>
    <div class="grid">
	{{#each resume.skills}}
		<div class="item">
            <h3>
                {{name}}
                {{#if level}}
                <span class="level" aria-hidden="true">
                    {{rating level}}
                </span>
                {{/if}}
            </h3>
            {{#if keywordsWithUrl}}
                <ul class="pill">
                    {{#each keywordsWithUrl}}
                    <li>
                        {{#if url}}
                            <a href="{{url}}">{{name}}</a>
                        {{else}}
                            {{name}}
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if keywords}}
                <ul class="pill">
                    {{#each keywords}}
                    <li>
                        {{.}}
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
		</div>
	{{/each}}
    </div>
</section>
{{/if}}