{{#if resume.volunteer.length}}
	{{#each resume.volunteer}}
		<section class="volunteer">
			{{#if @first}}
				<h2>Volunteer</h2>
			{{/if}}
			<div class="overview">
			<h3>
				{{~#if url~}}
					<a target="_blank" rel="noopener" href="{{url}}">{{organization}}</a>
				{{~else~}}
					{{organization}}
				{{~/if~}}
				{{~#if position~}}
					, {{position}}
				{{~/if~}}
			</h3>

			<p class="date grey">
				{{> date-range}}
			</p>
			</div>
			{{#if summary}}
				<p class="summary">{{{summary}}}</p>
			{{/if}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#each highlights}}
				<li>{{{.}}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</section>
	{{/each}}
{{/if}}